<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <i class="bi bi-car-front"></i> CarRent
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search/:locationId">Search Cars</a>
        </li>

        <li  class="nav-item">
          <a class="nav-link" routerLink="my-booking">My Bookings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="host.html">Host Your Car</a>
        </li>
      </ul>
      @if (loggedUserData==undefined) {
      <div class="d-flex" id="authButtons">
        <button class="btn btn-outline-light" (click)="openModal()">
          Login / Register
        </button>
      </div>

      }@else {
      <div class="" id="userInfo">
        <span class="text-light me-3" id="userName">{{
          loggedUserData.emailId
        }}</span>
        <button class="btn btn-outline-light" (click)="logout()">Logout</button>
      </div>

      }
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Auth Model -->

<!-- Auth Modal -->
<div class="modal" #loginModal>
  <div class="modal-dialog">
    <div class="modal-content auth-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="authModalTitle">Login</h5>
        <button
          type="button"
          (click)="closeModal()"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        @if(formVisiable()=="LoginForm"){
        <!-- Login Form -->
        <form id="loginForm" class="auth-form">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              type="email"
              name="emailId"
              [(ngModel)]="registerObj.emailId"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              name="password"
              [(ngModel)]="registerObj.password"
              class="form-control"
              required
            />
          </div>
          <button
            type="button"
            (click)="onLogin()"
            class="btn login w-100 mb-3"
          >
            Login
          </button>
          <p class="text-center">
            Don't have an account?
            <span class="auth-toggle" (click)="toggleForm('RegisterForm')"
              >Register here</span
            >
          </p>
        </form>

        }@else {
        <!-- Registration Form -->
        <form id="registerForm" class="auth-form">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input
              type="text"
              [(ngModel)]="registerObj.name"
              name="name"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              type="email"
              [(ngModel)]="registerObj.emailId"
              name="emailId"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Mobile</label>
            <input
              type="text"
              [(ngModel)]="registerObj.mobileNo"
              name="mobileNo"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              [(ngModel)]="registerObj.password"
              name="password"
              class="form-control"
              required
            />
          </div>
          <button
            type="button"
            (click)="onRegister()"
            class="btn login w-100 mb-3"
          >
            Register
          </button>
          <p class="text-center">
            Already have an account?
            <span class="auth-toggle" (click)="toggleForm('LoginForm')"
              >Login here</span
            >
          </p>
        </form>
        }
      </div>
    </div>
  </div>
</div>
